<div class="footer">
  <div class="connect">
    ЗВ’ЯЗАТИСЬ З НАМИ
  </div>
  <div class="send">
    Надішліть заявку і ми зв’яжемось з Вами в найближчу вільну хвилину з 10:00 до 21:00
  </div>
  <div class="footer--buttons">
    <textarea  placeholder="Ім'я" [(ngModel)]="name"  class="footer--text">Ваше ім’я</textarea>
    <textarea  placeholder="Номер телефону" [(ngModel)]="phone"  class="footer--text">+380</textarea>
    <div class="footer--button" (click)="onSubmit()">
      Надіслати
    </div>
  </div>
</div>