<div class="content">
  <div class="title">
    Що ми пропонуємо
  </div>
  <div class="main">
    <div class="main__left">
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Передвесільна консультація
          </span>
      </div>
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Вибір весільної локації
          </span>
      </div>
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Розробка концепції та стилю
          </span>
      </div>
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Вибір ведучого
          </span>
      </div>
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Послуги флористів та декораторів
          </span>
      </div>
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Постановка першого весільного танцю
          </span>
      </div>
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Підбір артистів для шоу-програми
          </span>
      </div>
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Весільний кортеж
          </span>
      </div>
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Складання банкетного меню
          </span>
      </div>
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Музичний супровід весільного банкету: Dj, жива музика, вокалісти і т.д
          </span>
      </div>
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Підбір всієї необхідної весільної атрибутики
          </span>
      </div>
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Підбір всієї необхідної весільної атрибутики
          </span>
      </div>
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Детальний таймінг весільного дня
          </span>
      </div>
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Послуги весільного стиліста
          </span>
      </div>
      <div>
        <img src="../assets/flower.svg" alt="flower">
        <span>
          Весільна поліграфія
          </span>
      </div>
    </div>
    <div class="main__right">
      <img src="../assets/percent.svg" alt="percent"/>
      <div class="buy__button">
        Вартість наших послуг
      </div>
    </div>
  </div>
</div>
