<div class="home-page">
  <div class="home">
    <div class="home-left">
    <div class="home--title">
      Весільне агенство
    </div>
    <div class="home--description">
      Організація та декор. Будь-якого масштабу. В будь-якій точці світу.
    </div>
    <div class="home--button">Детальніше
    </div>
    </div>
  </div>
  <div class="title">
    Останні Весілля
  </div>
  <div class="wedding">
    <div class="wedding_text">
      <h1>Гармонія у саду</h1>
      <div class="for--span"><span></span>
        <h3>Створили атмосферу саду в кожній деталі для Олі та Дениса з любов’ю.</h3>
      </div>
    </div>
      <div class="wedding_img">
        <img ngSrc="../../assets/wedding1.svg" alt="wedding" height="298" width="555"/>
      </div>
  </div>
    <div class="wedding" *ngIf="window.innerWidth>=768; else mobileView">
      <div class="wedding_text">
        <img ngSrc="../../assets/wedding2.svg" alt="wedding" height="302" width="560"/>
      </div>
      <div class="wedding_img">
        <h1>Вільні духом</h1>
        <div class="for--span"><span></span>
          <h3>Захоплива подорож двох закоханих сердець в казку одного щасливого дня.</h3>
        </div>
      </div>
    </div>

    <ng-template #mobileView>
      <div class="wedding">
        <div class="wedding_text">
          <h1>Вільні духом</h1>
          <div class="for--span"><span></span>
            <h3>Захоплива подорож двох закоханих сердець в казку одного щасливого дня.</h3>
          </div>
        </div>
          <div class="wedding_img">
            <img ngSrc="../../assets/wedding2.svg" alt="wedding" height="302" width="560"/>
          </div>
      </div>
    </ng-template>

    <div class="wedding">
      <div class="wedding_text">
        <h1>Весняний політ в любові</h1>
        <div class="for--span"><span></span>
          <h3>Весна – природа радіє разом з нами.</h3>
        </div>
      </div>
    <div class="wedding_img">
      <img ngSrc="../../assets/wedding3.svg" alt="wedding" height="304" width="560"/>
    </div>
  </div>
  <app-calendar style="height: 500px"></app-calendar>
  <div class="end">
    <h2>Зарезервуйте своє весілля</h2>
    <h4>Етапи організації весілля:<br>Перша зустріч. Етапи організації весілля починаються з знайомства із вашою парою, її історією. Підписання договору.</h4>
    <h4>Брифування. Ми завжди за живе спілкування з вами, але також можливі зустрічі і в режимі онлайн, якщо це буде більш зручно для вас. Заповнення вами брифу по організації та декоруванню.</h4>
    <h4>Визначаємо концепцію та стиль свята. На основі брифування розробляємо індивідуальну концепцію святкування, обговорюємо деталі.</h4>
    <h4>Розподіляємо бюджет весілля. Згідно з вашими побажаннями, детально розписуємо бюджет свята та оптимізуємо його впродовж усієї підготовки.</h4>
    <h4>Обираємо дату, локацію та підбираємо команду. Пропонуємо підбірку локацій згідно з вашими побажаннями та датою, робимо огляд запропонованих локацій, дегустацію.Також робимо підбірки та обираємо ведучого, фото- та відеографів, музичний супровід, весільні образи, стилістів, шоу-програму, хедлайнера тощо. Підбираємо флористичне оформлення заходу та декорації.</h4>
    <h4>Складаємо перший таймінг. Згідно з нашими рекомендаціями та вашими побажаннями, складаємо перший базовий таймінг.</h4>
    <h4>Складаємо меню. Обираємо банкетне, алкогольне та фуршетне меню ресторану або кейтерингу.</h4>
    <h4>Фінальна зустріч із командою. Обговорюємо деталі згідно з таймінгом, ведемо повний розрахунок з організаторами.</h4>
  </div>
</div>
